/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}

/* ユーザー情報下ボタン */

.btn-users-show {
  margin-top: -10px;
  margin-bottom: 10px;
}

/* ユーザー勤怠情報テーブル */

#table-attendances {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

.sun {
  color: red;
}

.sat {
  color: blue;
}

/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

/* ユーザー一覧ページ */

#table-users {
  td {
    vertical-align: middle;
  }  
}

.input-group {
  width: 300px;
  margin-left: auto;
}

.right {
  width: 300px;
  margin-left: auto;
  margin-bottom: -1px;
}

/* 基本情報の更新 */

.label-basic-info--edit {
  margin-top: 5px;
}

.btn-basic-info--edit {
  margin-top: 10px;
}

/* 勤怠表示ページ */

.user-table {
  tr>td{
    text-align: middle;
    //font-weight: bold;
  }
  tr>td.work-time {
    vertical-align: bottom;
  }
  tr>td.basic-time {
    vertical-align: bottom;
  }
  tr>td.first-day {
    vertical-align: bottom;
  }
}

.edit-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

#table-attendances{
  th {
    text-align: middle;
    font-weight: normal;
  }
  td {
    text-align: middle;
  }
  tr>th.date{
    vertical-align: bottom;
  }
  tr>th.week{
    vertical-align: bottom;
  }
  tr>th.working-times{
    vertical-align: bottom;
  }
  tr>th.note{
    vertical-align: bottom;
  }
}

.btn-attendance {
  width: 100%;
}